# Corpus analysis

The docuscospacy package supports the generation of:

* Token frequency tables
* Ngram tables
* Collocation tables around a node word
* Keyword comparisions against a reference corpus

Most importantly, **outputs can be contolled either by part-of-speech or by DocuScope tag**. Thus, *can* as noun and *can* as verb, for example, can be disambiguated.

Additionally, tagged multi-token sequencies are aggregatated for analysis. So, for example, where *in spite of* is tagged as a token sequence, it is combined into a signle token.

In [9]:
import warnings
warnings.filterwarnings('ignore')

## Processing a corpus

Before we generate any counts or tables, we need to load a corpus and tokenize it. Be sure you have downloaded the `en_docusco_spacy` model from [the huggingface model repository](https://huggingface.co/browndw/en_docusco_spacy).

We will also load `Corpus`, `vocabulary_size` and `corpus_num_tokens` from **tmtoolkit**. If you aren't familiar with the package, be sure to [familiarize yourself with it.](https://tmtoolkit.readthedocs.io/en/latest/text_corpora.html).

We will also import `re` for some simple pre-processing.

In [10]:
import spacy
from tmtoolkit.corpus import Corpus, vocabulary_size, corpus_num_tokens
import re

First, we need to load a spacy instance from the model.

In [14]:
%%capture
!pip install https://huggingface.co/browndw/en_docusco_spacy/resolve/main/en_docusco_spacy-any-py3-none-any.whl

# Using spacy.load().
import spacy
nlp = spacy.load("en_docusco_spacy")

Next, we will define a simple pre-processing function. **For accurate tagging**, possessive *its* should be split into two tokens. The last part of the function will eliminate carriage returns, tabs, extra spaces, etc.

<div class="alert alert-info">

**Note: Adding pre-processing functions**

You can also pass other functions as part of the `raw_preproc` argument in a list. For example: `raw_preproc=[pre_process, simplify_unicode_chars]` would add a function built in to **tmtoolkit** that replaces accented with non accented characters.

</div>

In [15]:
def pre_process(txt):
    txt = re.sub(r'\bits\b', 'it s', txt)
    txt = re.sub(r'\bIts\b', 'It s', txt)
    txt = " ".join(txt.split())
    return(txt)

The target corpus is sample of academic papers available from the [**docuscospacy** repository](https://github.com/browndw/docuscospacy/tree/main/docs/source/data). Note the token attributes being returned: `spacy_token_attrs=['tag', 'ent_iob', 'ent_type', 'is_punct']`:

In [16]:
%%time
corp = Corpus.from_folder('data/tar_corpus', spacy_instance=nlp, raw_preproc=[pre_process], spacy_token_attrs=['tag', 'ent_iob', 'ent_type', 'is_punct'])

CPU times: user 6.45 s, sys: 993 ms, total: 7.44 s
Wall time: 7.54 s

It is simple to calculate and store some basic information about the corpus. These numbers will be useful later.

In [17]:
corpus_total = corpus_num_tokens(corp)
corpus_types = vocabulary_size(corp)
total_punct = []
for i in range(0,len(corp)):
    total_punct.append(sum(corp[i]['is_punct']))
total_punct = sum(total_punct)
non_punct = corpus_total - total_punct

In [18]:
print('Aphanumeric tokens:', non_punct, '\nPunctuation tokens:', total_punct, '\nTotal tokens:', corpus_total, '\nToken types:', corpus_types)

Aphanumeric tokens: 134410
Punctuation tokens: 18821
Total tokens: 153231
Token types: 13645

## Converting a corpus

Before we generate any tables, we first need to convert the corpus into a convenient object that we can manipulate. From `docuscospacy.corpus_analysis` we will import a number of functions including `convert_corpus`. The function simply takes the object produced by the `Corpus.from_folder` function.

In [19]:
from docuscospacy import convert_corpus, frequency_table, tags_table, ngrams_by_token, ngrams_by_tag, coll_table, tags_dtm, normalize_dtm, dtm_to_coo, kwic_center_node, keyness_table, tag_ruler

In [20]:
tp = convert_corpus(corp)

The result is a dictionary, whose keys are the names of the corpus files:

In [21]:
list(tp.keys())[:9]

['acad_23',
 'acad_37',
 'acad_36',
 'acad_22',
 'acad_34',
 'acad_20',
 'acad_08',
 'acad_09',
 'acad_21']

And the values are lists of nltk-like tuples:

In [22]:
list(tp.values())[1][:9]

[('Often ', 'RR', 'B-Narrative'),
 ('referred ', 'VVN', 'B-InformationReportVerbs'),
 ('to ', 'II', 'I-InformationReportVerbs'),
 ('as ', 'II', 'I-InformationReportVerbs'),
 ('the ', 'AT', 'O-'),
 ('"', 'Y', 'O-'),
 ('Cartesian ', 'JJ', 'B-Description'),
 ('Circle', 'NN1', 'I-Description'),
 ('"', 'Y', 'O-')]

## Frequency tables

Frequency tables are produced by the `frequency_table` function, which takes a converted corpus object, a count against which to normalze and a `count_by` arguement that is one of **'pos'** or **'ds'** for part-of-speech or DocuScope category.

In addition to being trained on DocuScope, the spaCy model was trained on the [CLAWS7 tagset](https://ucrel.lancs.ac.uk/claws7tags.html). Those tags are default counting method.

Here, we use `non_punct` (or the total number of tokens that are not punctuation), as the part-of-speech token count omits tokens tagged as punctuation.

<div class="alert alert-info">

**Note: Normalizing**

Here, we use `non_punct` (or the total number of tokens that are not punctuation), as the part-of-speech token count omits tokens tagged as punctuation. For normalizing DocuScope tags, it is suggest that you use a total token count that **includes** puctuation, as DocuScope tags punctuation marks under certain conditions.
    
</div>

In [23]:
wc = frequency_table(tp, non_punct)

The table returns a column of tokens, tags, absoulte frequency, relative frequency (per million tokens) and the range of text in which the token appears:

In [24]:
wc.head(10).style.hide(axis='index').format(precision=2)

The resulting data frame is easy to filter and sort. So, here, we filter for an absolute frequency greater than 10 and tokens tags as verbs (starting with 'V'):

In [25]:
wc.query('AF > 10 and Tag.str.startswith("V")').head(10).style.hide(axis='index').format(precision=2)

Here, we sort for adverbs. Note that multi-word units tagged as a sequence are aggregated into a single token (like *for example*):

In [26]:
wc.query('Tag.str.startswith("R")').head(20).style.hide(axis='index').format(precision=2)

Similarly, we can generate a frequncy table of DocuScope tokens by setting `count_by='ds'`. Note that here we normalize by 'corpus_total' as DocuScope includes punctuation in its tagging system:

In [27]:
wc = frequency_table(tp, n_tokens=corpus_total, count_by='ds')

In [28]:
wc.head(10).style.hide(axis='index').format(precision=2)

As with part-of-speech tags, we can easily filter the data frame for the desired [DocuScope category](https://docuscospacy.readthedocs.io/en/latest/docuscope.html#Categories). Here, we sort by 'Character':

In [29]:
wc.query('Tag.str.startswith("Character")').head(10).style.hide(axis='index').format(precision=2)

Or by 'Public Terms':

In [30]:
wc.query('Tag.str.startswith("Public")').head(20).style.hide(axis='index').format(precision=2)

## Tags tables

Rather than counting tokens, we can generate counts of the tags **only** by using the `tags_table` function. It works just like the `frequency_table` function, taking a dictionary created by the `convert_corpus` function, an integer agaist which to normalize, and a `count_by` argument of either 'pos' or 'ds'.

In [31]:
tc = tags_table(tp, non_punct)

In [32]:
tc.head(10).style.hide(axis='index').format(precision=2)

And by DocuScope category:

In [33]:
dc = tags_table(tp, corpus_total, count_by='ds')

In [34]:
dc.sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

## Ngram tables

N-grams (between bigrams and 4-grams) can be calculated using the `ngrams_by_token` function. N-grams can be created using different options:
* You can input a word or string using the `ngrams_by_token` function. With that function you need to specify whether that input should match a token completely or partially, and choose which tagset to return.
* Alternatively, you can use the `ngrams_by_tag` function. That allows you to select a tag (like **NN1** or **AcademicTerms**) as the basis for your n-grams.
* For either option, you must select the size of your n-grams (2-grams, 3-grams, or 4-grams) and the slot where your chosen word or tag should appear (on the left, in the middle, or on the right).

We'll start by searching for n-grams of length **3** with **data** in the first position.

In [35]:
nc = ngrams_by_token(tp, node_word='data', n_tokens=non_punct, node_position=1, span=3, search_type='fixed', count_by='pos')

The returned data frame includes both the sequence of tokens, as well as the sequence of tags:

In [36]:
nc.head(10).style.hide(axis='index').format(precision=2)

We can similarly look for n-grams that include only part of word. For example, we can find bigrams that include word ending with **-tion** by setting the `search_type` to **ends_with**.

In [37]:
nc = ngrams_by_token(tp, node_word='tion', n_tokens=non_punct, node_position=2, span=2, search_type='ends_with', count_by='pos')

In [38]:
nc.head(10).style.hide(axis='index').format(precision=2)

Now we'll collect n-grams using the `ngrams_by_tag` function. Here, we'll look at 3-token sequences that end with a past participle (**VVN**).

In [39]:
nc = ngrams_by_tag(tp, tag='VVN', n_tokens=non_punct, tag_position=3, span=3, search_type='fixed', count_by='pos')

In [40]:
nc.head(10).style.hide(axis='index').format(precision=2)

Similar ngram tables can be created for DocuScope sequences. Here we generate trigrams:

In [41]:
nc = ngrams_by_tag(tp, tag='AcademicTerms', n_tokens=non_punct, tag_position=3, span=3, search_type='fixed', count_by='ds')

In [42]:
nc.head(10).style.hide(axis='index').format(precision=2)

## Collocations

Collocations within a span (left and right) of a node word can be calculated according to several association measures.

The default span is 4 tokens to the left and 4 tokens to the right of the node word.

Like `frequency_table`, `coll_table` requires a dictionary of the type generated by the `convert_corpus` function. It also requires a node word, a node tag, and an association measure statistic.

In [43]:
ct = coll_table(tp, 'can', node_tag='V', statistic='pmi', count_by='pos')

In [44]:
ct.head(10).style.hide(axis='index').format(precision=2)

In [45]:
ct.query('`Freq Total` > 5 and MI > 3 and Tag.str.startswith("V")').head(10).style.hide(axis='index').format(precision=2)

In [46]:
ct = coll_table(tp, 'can', node_tag='V', statistic='npmi', count_by='pos')
ct.head(10).style.hide(axis='index').format(precision=2)

In [47]:
ct = coll_table(tp, 'people', node_tag='Character', statistic='pmi3', count_by='ds')
ct.head(10).style.hide(axis='index').format(precision=2)

We can also calculate collocations, while ignoring tags completely by setting `tag_ignore` to 'True':

In [48]:
ct = coll_table(tp, 'data', tag_ignore=True, statistic='npmi')
ct.head(10).style.hide(axis='index').format(precision=2)

## Document-term matrices for tags

Document-term matrices are basic data structures for text analysis. Each row is a document (observation) and each column is a token (variable). These [can be produced by **tmtoolkit**](https://tmtoolkit.readthedocs.io/en/latest/preprocessing.html#Generating-a-sparse-document-term-matrix-(DTM))) using the `dtm` function.

The **docuscopspacy** package allows for the creation of dtms with tag counts (rather than token counts) as variables.

These are produced by the `tags_dtm` function, which takes a dictionary created by the `convert_corpus` function and a `count_by` argument of either 'pos' or 'ds'.

In [49]:
tm = tags_dtm(tp)

<div class="alert alert-warning">
    
**Warning: `doc_id` column**

The first column, 'doc_id', contains the names of the document files.  The `tags_dtm` function does not place document ids as row names initally as a saftey feature. Row names **must** be unique. Setting the document ids as a column allows users to account for any duplicates before proceeding.

</div>

The count that is returned is the raw count.

In [50]:
tm.head(10).style.hide(axis='index').format(precision=0)

A similar dtm can be created for DocuScope categories by setting `count_by` to 'ds':

In [51]:
tm = tags_dtm(tp, count_by='ds')
tm.head(10).style.hide(axis='index').format(precision=0)

Counts can also be normalized using the `normalize_dtm` function. The scheme can either be set to **prop** or **tfidf**.

In [52]:
norm_tm = normalize_dtm(tm, scheme='prop')
norm_tm.head(10).style.hide(axis='index').format(precision=4)

In [53]:
tfidf_tm = normalize_dtm(tm, scheme='tfidf')
tfidf_tm.head(10).style.hide(axis='index').format(precision=4)

A **dtm** can also be passed to **tmtoolkit** functions to create normalized counts (using the `tf_proportions` function), [tf-idf values](https://tmtoolkit.readthedocs.io/en/latest/bow.html#Term-frequency%E2%80%93inverse-document-frequency-transformation-(tf-idf)) (using the `tfidf` function), or other kids of data structures.

In [54]:
from tmtoolkit.bow.bow_stats import tf_proportions, tfidf
from tmtoolkit.bow.dtm import dtm_to_dataframe

Beginning with version 0.12.0 of **tmtoolkit**, matrices must first be converted into a COOrdinate format. This can be done using the `dtm_to_coo` function.

In [55]:
tags_coo, docs, vocab = dtm_to_coo(tm)

In [56]:
tags_coo

<50x37 sparse matrix of type '<class 'numpy.float64'>'
	with 1666 stored elements in COOrdinate format>

These can now be processed using various **tmtoolkit** functions

In [57]:
dtm_to_dataframe(tags_coo, docs, vocab).head()

,AcademicTerms,AcademicWritingMoves,Character,Citation,CitationAuthority,CitationHedged,ConfidenceHedged,ConfidenceHigh,ConfidenceLow,Contingent,...,Narrative,Negative,Positive,PublicTerms,Reasoning,Responsibility,Strategic,Uncertainty,Untagged,Updates
doc_id,,,,,,,,,,,,,,,,,,,,,
acad_23,67.0,10.0,42.0,0.0,3.0,0.0,14.0,2.0,0.0,9.0,...,100.0,18.0,22.0,9.0,24.0,5.0,25.0,1.0,424.0,6.0
acad_37,30.0,0.0,54.0,7.0,0.0,0.0,6.0,43.0,3.0,4.0,...,42.0,31.0,10.0,4.0,28.0,1.0,9.0,9.0,244.0,6.0
acad_36,170.0,3.0,165.0,14.0,7.0,1.0,27.0,20.0,2.0,23.0,...,83.0,61.0,56.0,10.0,46.0,7.0,16.0,8.0,614.0,4.0
acad_22,166.0,2.0,386.0,13.0,3.0,0.0,20.0,14.0,1.0,20.0,...,156.0,45.0,50.0,26.0,29.0,2.0,25.0,4.0,824.0,2.0
acad_34,118.0,8.0,66.0,6.0,7.0,1.0,8.0,11.0,0.0,14.0,...,48.0,27.0,30.0,11.0,26.0,1.0,20.0,2.0,299.0,5.0

In [58]:
tfidf_coo = tfidf(tags_coo)
dtm_to_dataframe(tfidf_coo, docs, vocab).head()

,AcademicTerms,AcademicWritingMoves,Character,Citation,CitationAuthority,CitationHedged,ConfidenceHedged,ConfidenceHigh,ConfidenceLow,Contingent,...,Narrative,Negative,Positive,PublicTerms,Reasoning,Responsibility,Strategic,Uncertainty,Untagged,Updates
doc_id,,,,,,,,,,,,,,,,,,,,,
acad_23,0.039029,0.006272,0.024466,0.000000,0.002039,0.000000,0.008155,0.001165,0.000000,0.005396,...,0.058252,0.010485,0.012815,0.005243,0.013980,0.003457,0.014563,0.000786,0.246988,0.003597
acad_37,0.030234,0.000000,0.054422,0.007715,0.000000,0.000000,0.006047,0.043336,0.006068,0.004149,...,0.042328,0.031242,0.010078,0.004031,0.028219,0.001196,0.009070,0.012243,0.245906,0.006224
acad_36,0.067771,0.001288,0.065778,0.006103,0.003256,0.000752,0.010764,0.007973,0.001600,0.009438,...,0.033088,0.024318,0.022325,0.003987,0.018338,0.003312,0.006378,0.004305,0.244774,0.001641
acad_22,0.048287,0.000626,0.112283,0.004135,0.001018,0.000000,0.005818,0.004072,0.000584,0.005988,...,0.045378,0.013090,0.014544,0.007563,0.008436,0.000690,0.007272,0.001571,0.239691,0.000599
acad_34,0.086326,0.006302,0.048284,0.004800,0.005975,0.001381,0.005853,0.008047,0.000000,0.010542,...,0.035116,0.019753,0.021947,0.008047,0.019021,0.000868,0.014632,0.001975,0.218742,0.003765

## KWIC tables

There is also a function for generating Key Word in Context (KWIC) tables. For display purposes the `kwic_center_node` function trims the context columns to 75 characters maximum.

The function requires a **corpus** of the type generated by the `Corpus.from_dictionary` function. A node word needs to be set and there is the option to ignore the case of the node word.

<div class="alert alert-info">

**Note: Other KWIC options**

The **tmtoolkit** package has [its own KWIC functions](https://tmtoolkit.readthedocs.io/en/latest/preprocessing.html#Keywords-in-context-(KWIC)-and-general-filtering-methods). The only difference is that this function produced a table with the node word in a center column with context columns to the left and right. The **tmtoolkit** functions produce tables with a single column that includes the node word.
  
</div>

In [59]:
kcn = kwic_center_node(tp, 'data', ignore_case=True, search_type='fixed')

In [60]:
kcn.head(10).style.set_properties(subset=["Post-Node"], **{'text-align': 'left'}).set_properties(subset=["Node"], **{'text-align': 'center'})

There is also an option allowing for that contain character sequences at the beginning or end of tokens by changing the `search_type` argument:

In [61]:
kwc = kwic_center_node(tp, 'tion', ignore_case=True, search_type='ends_with')

In [62]:
kwc.head(10).style.set_properties(subset=["Post-Node"], **{'text-align': 'left'}).set_properties(subset=["Node"], **{'text-align': 'center'})

## Keyword tables

[Keywords](https://eprints.lancs.ac.uk/id/eprint/140803/1/Rayson_2019_CorpusAnalysisofKeyWords_Submitted.pdf) are common method for profiling corpora by statstically comparing token frequencies in one corpus (a target corpus) to those in another (a reference corpus).

To generate a keyword list, we first need to process our reference corpus, in this case a small corpus of news articles.

<div class="alert alert-warning">
    
**Warning: Preparing frequency tables**

Be sure to process target and reference corpora in precisely the same way prior to comparison.

</div>

In [63]:
%%time
corp_ref = Corpus.from_folder('data/ref_corpus', spacy_instance=nlp, raw_preproc=pre_process, spacy_token_attrs=['tag', 'ent_iob', 'ent_type', 'is_punct'])

CPU times: user 1.69 s, sys: 208 ms, total: 1.9 s
Wall time: 1.93 s

We will also store various counts of tokens:

In [64]:
ref_total = corpus_num_tokens(corp_ref)
ref_types = vocabulary_size(corp_ref)
ref_punct = []
for i in range(0,len(corp_ref)):
    ref_punct.append(sum(corp_ref[i]['is_punct']))
ref_punct = sum(ref_punct)
ref_nonpunct = ref_total - ref_punct

In [65]:
print('Aphanumeric tokens (Reference corpus):', ref_nonpunct, '\nPunctuation tokens (Reference corpus):', ref_punct, '\nTotal tokens (Reference corpus):', ref_total, '\nTypes (Reference corpus):', ref_types)

Aphanumeric tokens (Reference corpus): 31950
Punctuation tokens (Reference corpus): 4742
Total tokens (Reference corpus): 36692
Types (Reference corpus): 6364

As before, we will use the `convert_corpus` function to prepare our data for further analysis:

In [66]:
tp_ref = convert_corpus(corp_ref)

Finally, we will use `frequency_table` to generate 2 tables, both normalized by total counts of non-punctuation tokens:

In [67]:
wc_target = frequency_table(tp, non_punct)
wc_ref = frequency_table(tp_ref, ref_nonpunct)

To generate a table of key words, we will use `keyness_table`, which takes both our target and reference frequency tables. An arguement can also be set for using the Yates correction by setting the `correct` argument to 'True'. Here will leave the default, which is for no correction.

In [68]:
kw = keyness_table(wc_target, wc_ref)

The table returns the frequency data for both corpora, with a column for [log-likehood](https://ucrel.lancs.ac.uk/llwizard.html) (the test of significance), as well as [Log Ratio](http://cass.lancs.ac.uk/log-ratio-an-informal-introduction/) (an effect size measure), and the *p*-value.

In [69]:
kw.head(10).style.hide(axis='index').format(precision=2)

The table can be sorted according to various criteria, like absolute frequencies and *p*-value thresholds:

In [70]:
kw.query('AF > 5 and `AF Ref` > 5 and PV < 0.01').sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)

Tables can similarly be filtered for part-of-speech tag:

In [71]:
kw.query('AF > 5 and `AF Ref` > 5 and PV < 0.01 and Tag.str.startswith("V")').head(10).style.hide(axis='index').format(precision=2)

Keyness tables can also be generated for counts of either part-of-speech or DocuScope tags. First, we prepare the frequency tables.

In [72]:
tag_ref = tags_table(tp_ref, ref_nonpunct, count_by='pos')
tag_tar = tags_table(tp, non_punct, count_by='pos')
ds_ref = tags_table(tp_ref, ref_total, count_by='ds')
ds_tar = tags_table(tp, corpus_total, count_by='ds')

We will set the `tags_only` argument to 'True' and we will also emply the Yates correction, setting `correct` to 'True', as well:

In [73]:
kt = keyness_table(tag_tar, tag_ref, tags_only=True, correct=True)

In [74]:
kt.head(10).style.hide(axis='index').format(precision=2)

We can do the same for the DocuScope frequency tables:

In [75]:
kds = keyness_table(ds_tar, ds_ref, tags_only=True)

In [76]:
kds.sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)

## Single document tag highlighting

Tags (either part-of-speech or DocuScope) can be highlighted in single documents. In order facilitate the highlighing of tags, the `tag_ruler` function generates a data frame with the complete document text and the spans of tagged tokens. From that data frame, the original document text can be easily recovered, and any tags of interest can be filtered for highlighting.

To render the highlights, an additionally package is needed. For this demonstration, we will use (ipymarkup)[https://nbviewer.org/github/natasha/ipymarkup/blob/master/docs.ipynb], which is simple and flexible.

In [77]:
from ipymarkup import show_span_box_markup

When calling the `tag_ruler` function, a document needs to be specificed based on how its id is stored as a key from the `convert_corpus` function. Keys can be recovered from our `tp` object using `tp.keys()`, for example.

In [78]:
df_pos = tag_ruler(tp, key='acad_17', count_by='pos')

The data frame contains all tokens, tags and start/end of spans:

In [79]:
df_pos.head(20)

           Token  Tag  tag_start  tag_end
0            In    II          0        2
1           the    AT          3        6
2      societal    JJ          7       15
3         realm   NN1         16       21
4            in    II         22       24
5         which   DDQ         25       30
6   Middlemarch   NP1         31       42
7        resides  VVZ         43       50
8             ,     Y         50       51
9           the    AT         52       55
10  demarcation   NN1         56       67
11      between    II         68       75
12        women   NN2         76       81
13          and    CC         82       85
14          men   NN2         86       89
15          are   VBR         90       93
16      starkly    RR         94      101
17       defined  VVN        102      109
18            .     Y        109      110
19      Notions   NN2        111      118

The output can easily be filtered, as it here for part-of-speech tags starting with 'N' (or nouns):

In [80]:
df_n = df_pos[df_pos.Tag.str.startswith('N')]
df_n.head(10)

           Token  Tag  tag_start  tag_end
3         realm   NN1         16       21
6   Middlemarch   NP1         31       42
10  demarcation   NN1         56       67
12        women   NN2         76       81
14          men   NN2         86       89
19      Notions   NN2        111      118
21         male   NN1        122      126
24    character   NN1        138      147
31   perspective  NN1        176      187
42      reading   NN1        229      236

First, we will reconstruct the document text from the **full** data frame.

In [81]:
text = ''.join(df_pos['Token'].tolist())

Next, we will contruct a list a tuples from the **filtered** data frame, using the `tag_start`, `tag_end` and `Tag` columns:

In [82]:
spans = list(zip(list(df_n['tag_start']), list(df_n['tag_end']), list(df_n['Tag'])))

Finally, we can use `show_span_box_markup` to highlight the tags:

In [83]:
show_span_box_markup(text, spans)

The same thing can be done for DocuScope tags by switching `count_by` to 'ds':

In [84]:
df_ds = tag_ruler(tp, key='acad_37', count_by='ds')
df_ds.head(20)

               Token                     Tag  tag_start  tag_end
0             Often                Narrative          0        5
1    referred to as   InformationReportVerbs          6       20
2               the                 Untagged         21       24
3                  "                Untagged         25       26
4   Cartesian Circle             Description         26       42
5                  "                Untagged         42       43
6                 ,                 Untagged         43       44
7         Descartes                 Untagged         45       54
8        presents a              Interactive         55       65
9              very           ConfidenceHigh         66       70
10      problematic                 Negative         71       82
11         argument            AcademicTerms         83       91
12            about                 Untagged         92       97
13              the                 Untagged         98      101
14        existence                 Untagged        102      111
15            of God             PublicTerms        112      118
16             . He                Narrative        118      122
17  presupposes the                 Negative        123      138
18            truth                 Untagged        139      144
19               of                 Untagged        145      147

This time, we'll filter for tags related to expressions of confidence:

In [85]:
df_c = df_ds[df_ds.Tag.str.startswith('Conf')]
df_c.head(10)

           Token             Tag  tag_start  tag_end
9          very   ConfidenceHigh         66       70
33   proves the   ConfidenceHigh        246      256
54      clearly   ConfidenceHigh        371      378
56   distinctly   ConfidenceHigh        383      393
83      clearly   ConfidenceHigh        563      570
85   distinctly   ConfidenceHigh        575      585
87       is true  ConfidenceHigh        596      603
105     are true  ConfidenceHigh        729      737
113     clearly   ConfidenceHigh        789      796
115  distinctly   ConfidenceHigh        801      811

Again, the text is reconstructed from the full data frame, and the spans are taken from the filtered one:

In [86]:
text = ''.join(df_ds['Token'].tolist())
spans = list(zip(list(df_c['tag_start']), list(df_c['tag_end']), list(df_c['Tag'])))
show_span_box_markup(text, spans)