# Corpus analysis

The docuscospacy package supports the generation of:

* Token frequency tables
* Ngram tables
* Collocation tables around a node word
* Keyword comparisions against a reference corpus

Most importantly, **outputs can be contolled either by part-of-speech or by DocuScope tag**. Thus, *can* as noun and *can* as verb, for example, can be disambiguated.

Additionally, tagged multi-token sequencies are aggregatated for analysis. So, for example, where *in spite of* is tagged as a token sequence, it is combined into a signle token.

In [1]:
import warnings
warnings.filterwarnings('ignore')

## Processing a corpus

Before we generate any counts or tables, we need to load a corpus and tokenize it. Be sure you have downloaded the `en_docusco_spacy` model from [the huggingface model repository](https://huggingface.co/browndw/en_docusco_spacy).

We will also load `Corpus`, `vocabulary_size` and `corpus_num_tokens` from **tmtoolkit**. If you aren't familiar with the package, be sure to [familiarize yourself with it.](https://tmtoolkit.readthedocs.io/en/latest/text_corpora.html).

We will also import `re` for some simple pre-processing.

In [2]:
import spacy
from tmtoolkit.corpus import Corpus, vocabulary_size, corpus_num_tokens
import re

First, we need to load a spacy instance from the model.

In [4]:
nlp = spacy.load('en_docusco_spacy')

Next, we will define a simple pre-processing function. **For accurate tagging**, possessive *its* should be split into two tokens. The last part of the function will eliminate carriage returns, tabs, extra spaces, etc.

Note that you can also pass other functions as part of the `raw_preproc` argument in a list. For example: `raw_preproc=[pre_process, simplify_unicode_chars]` would add a function built in to **tmtoolkit** that replaces accented with non accented characters.

In [5]:
def pre_process(txt):
    txt = re.sub(r'\bits\b', 'it s', txt)
    txt = re.sub(r'\bIts\b', 'It s', txt)
    txt = " ".join(txt.split())
    return(txt)

The target corpus is sample of academic papers available from the [**docuscospacy** repository](https://github.com/browndw/docuscospacy/tree/main/docs/source/data). Note the token attributes being returned: `spacy_token_attrs=['tag', 'ent_iob', 'ent_type', 'is_punct']`:

In [6]:
%%time
corp = Corpus.from_folder('data/tar_corpus', spacy_instance=nlp, raw_preproc=[pre_process], spacy_token_attrs=['tag', 'ent_iob', 'ent_type', 'is_punct'])

CPU times: user 8.33 s, sys: 1.02 s, total: 9.35 s
Wall time: 9.5 s

It is simple to calculate and store some basic information about the corpus. These numbers will be useful later.

In [7]:
corpus_total = corpus_num_tokens(corp)
corpus_types = vocabulary_size(corp)
total_punct = []
for i in range(0,len(corp)):
    total_punct.append(sum(corp[i]['is_punct']))
total_punct = sum(total_punct)
non_punct = corpus_total - total_punct

In [8]:
print('Aphanumeric tokens:', non_punct, '\nPunctuation tokens:', total_punct, '\nTotal tokens:', corpus_total, '\nToken types:', corpus_types)

Aphanumeric tokens: 134410
Punctuation tokens: 18821
Total tokens: 153231
Token types: 13645

## Converting a corpus

Before we generate any tables, we first need to convert the corpus into a convenient object that we can manipulate. From `docuscospacy.corpus_analysis` we will import a number of functions including `convert_corpus`. The function simply takes the object produced by the `Corpus.from_folder` function.

In [9]:
from docuscospacy.corpus_analysis import convert_corpus, frequency_table, tags_table, ngrams_table, coll_table, tags_dtm, kwic_center_node, keyness_table

In [10]:
tp = convert_corpus(corp)

The result is a dictionary, whose keys are the names of the corpus files:

In [11]:
list(tp.keys())[:9]

['acad_23',
 'acad_37',
 'acad_36',
 'acad_22',
 'acad_34',
 'acad_20',
 'acad_08',
 'acad_09',
 'acad_21']

And the values are lists of nltk-like tuples:

In [12]:
list(tp.values())[1][:9]

[('often', 'RR', 'B-Narrative'),
 ('referred', 'VVN', 'B-InformationReportVerbs'),
 ('to', 'II', 'I-InformationReportVerbs'),
 ('as', 'II', 'I-InformationReportVerbs'),
 ('the', 'AT', 'B-Citation'),
 ('"', 'Y', 'I-Citation'),
 ('cartesian', 'NN1', 'B-AcademicTerms'),
 ('circle', 'NN1', 'O-'),
 ('"', 'Y', 'O-')]

## Frequency tables

Frequency tables are produced by the `frequency_table` function, which takes a converted corpus object, a count against which to normalze and a `count_by` arguement that is one of **'pos'** or **'ds'** for part-of-speech or DocuScope category.

In addition to being trained on DocuScope, the spaCy model was trained on the [CLAWS7 tagset](https://ucrel.lancs.ac.uk/claws7tags.html). Those tags are default counting method.

Here, we use `non_punct` (or the total number of tokens that are not punctuation), as the part-of-speech token count omits tokens tagged as punctuation.

In [13]:
wc = frequency_table(tp, non_punct)

The table returns a column of tokens, tags, absoulte frequency, relative frequency (per million tokens) and the range of text in which the token appears:

In [14]:
wc.sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

The resulting data frame is easy to filter and sort. So, here, we filter for an absolute frequency greater than 10 and tokens tags as verbs (starting with 'V'):

In [15]:
wc.query('AF > 10 and Tag.str.startswith("V")').sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

Here, we sort for adverbs. Note that multi-word units tagged as a sequence are aggregated into a single token (like *for example*):

In [16]:
wc.query('Tag.str.startswith("R")').sort_values('RF', ascending=False).head(20).style.hide(axis='index').format(precision=2)

Similarly, we can generate a frequncy table of DocuScope tokens by setting `count_by='ds'`. Note that here we normalize by 'corpus_total' as DocuScope includes punctuation in its tagging system:

In [17]:
wc = frequency_table(tp, n_tokens=corpus_total, count_by='ds')

In [18]:
wc.sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

As with part-of-speech tags, we can easily filter the data frame for the desired [DocuScope category](https://docuscospacy.readthedocs.io/en/latest/docuscope.html#Categories). Here, we sort by 'Character':

In [19]:
wc.query('Tag.str.startswith("Character")').sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

Or by 'Public Terms':

In [20]:
wc.query('Tag.str.startswith("Public")').sort_values('RF', ascending=False).head(20).style.hide(axis='index').format(precision=2)

## Tags tables

Rather than counting tokens, we can generate counts of the tags **only** by using the `tags_table` function. It works just like the `frequency_table` function, taking a dictionary created by the `convert_corpus` function, an integer agaist which to normalize, and a `count_by` argument of either 'pos' or 'ds'.

In [21]:
tc = tags_table(tp, non_punct)

In [22]:
tc.sort_values('RF', ascending=False).head(20).style.hide(axis='index').format(precision=2)

And by DocuScope category:

In [23]:
dc = tags_table(tp, corpus_total, count_by='ds')

In [24]:
dc.sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

## Ngram tables

Ngrams (between bigrams and 5-grams) can be calculated using the `ngrams_table` function. It works much like the `frequency_table` function but with the addition of a span argument `ng_span` consisting of an integer between 2 and 5.

This will return a table of 3-grams:

In [25]:
nc = ngrams_table(tp, 3, non_punct, count_by='pos')

The returned data frame includes both the sequence of tokens, as well as the sequence of tags:

In [26]:
nc.sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

This allows for useful filtering. For example, looking at ngrams that start with a verb:

In [27]:
nc.query('Tag1.str.startswith("V")').sort_values('RF', ascending=False).head(20).style.hide(axis='index').format(precision=2)

Or sequences that end with a past participle ('VVN') preceded by a *to be* verb ('VB'), thus showing passive constructions:

In [28]:
nc.query('Tag3.str.startswith("VVN") and Tag2.str.startswith("VB")').sort_values('RF', ascending=False).head(20).style.hide(axis='index').format(precision=2)

Similar ngram tables can be created for DocuScope sequences. Here we generate bigrams:

In [29]:
nc = ngrams_table(tp, 2, corpus_total, count_by='ds')

In [30]:
nc.sort_values('RF', ascending=False).head(10).style.hide(axis='index').format(precision=2)

We can, for example, find sequence tagged as 'Positive' on the right but filtering out untagged ('O') and 'Syntactic Complexity' on the right:

In [31]:
nc.query('Tag1.str.startswith("Positive") and (~Tag2.str.startswith("Syntactic") and ~Tag2.str.startswith("O"))').sort_values('RF', ascending=False).head(20).style.hide(axis='index').format(precision=2)

## Collocations

Collocations within a span (left and right) of a node word can be calculated according to several association measures.

The default span is 4 tokens to the left and 4 tokens to the right of the node word.

Like `frequency_table`, `coll_table` requires a dictionary of the type generated by the `convert_corpus` function. It also requires a node word, a node tag, and an association measure statistic.

In [32]:
ct = coll_table(tp, 'can', node_tag='V', statistic='pmi', count_by='pos')

In [33]:
ct.sort_values('MI', ascending=False).head(10).style.hide(axis='index').format(precision=2)

In [34]:
ct.query('`Freq Total` > 5 and MI > 3 and Tag.str.startswith("V")').sort_values('MI', ascending=False).head(10).style.hide(axis='index').format(precision=2)

In [35]:
ct = coll_table(tp, 'can', node_tag='V', statistic='npmi', count_by='pos')
ct.sort_values('MI', ascending=False).head(10).style.hide(axis='index').format(precision=2)

In [36]:
ct = coll_table(tp, 'people', node_tag='Character', statistic='npmi', count_by='ds')
ct.sort_values('MI', ascending=False).head(10).style.hide(axis='index').format(precision=2)

We can also calculate collocations, while ignoring tags completely by setting `tag_ignore` to 'True':

In [64]:
ct = coll_table(tp, 'data', tag_ignore=True, statistic='npmi')
ct.sort_values('MI', ascending=False).head(10).style.hide(axis='index').format(precision=2)

## Document-term matrices for tags

Document-term matrices are basic data structures for text analysis. Each row is a document (observation) and each column is a token (variable). These [can be produced by **tmtoolkit**](https://tmtoolkit.readthedocs.io/en/latest/preprocessing.html#Generating-a-sparse-document-term-matrix-(DTM))) using the `dtm` function.

The **docuscopspacy** package allows for the creation of dtms with tag counts (rather than token counts) as variables.

These are produced by the `tags_dtm` function, which takes a dictionary created by the `convert_corpus` function and a `count_by` argument of either 'pos' or 'ds'.

In [37]:
tm = tags_dtm(tp)

Note that the first column, 'doc_id', contains the names of the document files. The count that is returned is the raw count.

In [38]:
tm.head(10).style.hide(axis='index').format(precision=0)

The resulting data frame can be passed to **tmtoolkit** functions to create normalized counts (using the `tf_proportions` function), [tf-idf values](https://tmtoolkit.readthedocs.io/en/latest/bow.html#Term-frequency%E2%80%93inverse-document-frequency-transformation-(tf-idf)) (using the `tfidf` function), or other kids of data structures.

In [39]:
from tmtoolkit.bow.bow_stats import tf_proportions, tfidf

In order generate these, note that the 'doc_id' column must either be dropped or set as the row names. The `tags_dtm` function does not do this initally as a saftey feature. Row names **must** be unique. Setting the doc ids as a column allows users to account for any duplicates before proceeding.

So here we move the 'doc_id' to row names:

In [40]:
tm.set_index('doc_id', inplace=True)
tm.head(10).style.format(precision=0)

And convert to normalized counts:

In [41]:
tf_proportions(tm).head(10)

,APPGE,AT,AT1,BCL,CC,CCB,CS,CSA,CSN,CST,...,VMK,VV0,VVD,VVG,VVGK,VVI,VVN,VVZ,XX,ZZ1
doc_id,,,,,,,,,,,,,,,,,,,,,
acad_23,0.004834,0.072514,0.024862,0.000691,0.037983,0.000691,0.010359,0.002072,0.000000,0.008287,...,0.000000,0.016575,0.003453,0.008978,0.0,0.042818,0.029006,0.011050,0.004144,0.008978
acad_37,0.011507,0.055236,0.017261,0.003452,0.029919,0.004603,0.014960,0.005754,0.000000,0.032221,...,0.000000,0.021864,0.002301,0.009206,0.0,0.033372,0.008055,0.031070,0.014960,0.000000
acad_36,0.006280,0.098551,0.027053,0.001449,0.025121,0.001932,0.011111,0.003865,0.000966,0.017874,...,0.000000,0.012077,0.003382,0.010145,0.0,0.028502,0.025121,0.024155,0.011111,0.009179
acad_22,0.018791,0.064480,0.030582,0.001105,0.045321,0.003685,0.008106,0.005527,0.001105,0.008843,...,0.000000,0.011422,0.020265,0.013265,0.0,0.010685,0.019160,0.028003,0.001842,0.001105
acad_34,0.002627,0.059545,0.033275,0.000000,0.048161,0.008757,0.010508,0.005254,0.000876,0.014011,...,0.000000,0.008757,0.005254,0.013135,0.0,0.028897,0.014011,0.022767,0.007005,0.000000
acad_20,0.005581,0.084651,0.025116,0.000000,0.026977,0.000930,0.006512,0.000930,0.000000,0.006512,...,0.000000,0.005581,0.036279,0.025116,0.0,0.013953,0.013953,0.006512,0.003721,0.000930
acad_08,0.017590,0.044855,0.021988,0.000000,0.038698,0.000880,0.007036,0.003518,0.000000,0.015831,...,0.000000,0.004398,0.007916,0.024626,0.0,0.045734,0.019349,0.016711,0.003518,0.000000
acad_09,0.026231,0.079096,0.016949,0.000404,0.033495,0.001211,0.016546,0.003228,0.000807,0.018160,...,0.000000,0.004036,0.039952,0.014528,0.0,0.018160,0.029863,0.009685,0.006053,0.000000
acad_21,0.003697,0.089649,0.022181,0.000924,0.023105,0.004621,0.006470,0.003697,0.000000,0.011091,...,0.000000,0.010166,0.018484,0.018484,0.0,0.016636,0.017560,0.017560,0.002773,0.000000
acad_35,0.011532,0.080973,0.021058,0.000251,0.037854,0.000501,0.007270,0.002006,0.000501,0.006267,...,0.000251,0.011782,0.003760,0.017298,0.0,0.032590,0.027325,0.008523,0.005766,0.014289

Or tf-idf:

In [42]:
tfidf(tm).head(10)

,APPGE,AT,AT1,BCL,CC,CCB,CS,CSA,CSN,CST,...,VMK,VV0,VVD,VVG,VVGK,VVI,VVN,VVZ,XX,ZZ1
doc_id,,,,,,,,,,,,,,,,,,,,,
acad_23,0.003351,0.049548,0.016988,0.000663,0.025954,0.000500,0.007078,0.001479,0.000000,0.005663,...,0.000000,0.011325,0.002359,0.006135,0.0,0.029257,0.019819,0.007659,0.002914,0.009409
acad_37,0.007976,0.037742,0.011795,0.003316,0.020444,0.003335,0.010222,0.004107,0.000000,0.022016,...,0.000000,0.014940,0.001573,0.006290,0.0,0.022803,0.005504,0.021536,0.010521,0.000000
acad_36,0.004353,0.067339,0.018485,0.001392,0.017165,0.001400,0.007592,0.002759,0.000758,0.012213,...,0.000000,0.008252,0.002311,0.006932,0.0,0.019476,0.017165,0.016743,0.007814,0.009619
acad_22,0.013025,0.044059,0.020897,0.001062,0.030967,0.002670,0.005539,0.003945,0.000867,0.006042,...,0.000000,0.007805,0.013847,0.009064,0.0,0.007301,0.013092,0.019410,0.001296,0.001158
acad_34,0.001821,0.040687,0.022737,0.000000,0.032908,0.006345,0.007180,0.003750,0.000687,0.009573,...,0.000000,0.005983,0.003590,0.008975,0.0,0.019745,0.009573,0.015781,0.004927,0.000000
acad_20,0.003869,0.057842,0.017162,0.000000,0.018433,0.000674,0.004449,0.000664,0.000000,0.004449,...,0.000000,0.003814,0.024789,0.017162,0.0,0.009534,0.009534,0.004514,0.002617,0.000975
acad_08,0.012193,0.030649,0.015024,0.000000,0.026442,0.000637,0.004808,0.002511,0.000000,0.010817,...,0.000000,0.003005,0.005409,0.016827,0.0,0.031250,0.013221,0.011583,0.002474,0.000000
acad_09,0.018182,0.054046,0.011581,0.000388,0.022887,0.000877,0.011306,0.002304,0.000633,0.012409,...,0.000000,0.002757,0.027299,0.009927,0.0,0.012409,0.020405,0.006713,0.004257,0.000000
acad_21,0.002562,0.061257,0.015156,0.000888,0.015788,0.003348,0.004421,0.002639,0.000000,0.007578,...,0.000000,0.006947,0.012630,0.012630,0.0,0.011367,0.011999,0.012172,0.001950,0.000000
acad_35,0.007993,0.055328,0.014389,0.000241,0.025866,0.000363,0.004968,0.001431,0.000393,0.004282,...,0.000526,0.008051,0.002569,0.011819,0.0,0.022268,0.018671,0.005908,0.004055,0.014975

## KWIC tables

There is also a function for generating Key Word in Context (KWIC) tables. The **tmtoolkit** package has [its own KWIC functions](https://tmtoolkit.readthedocs.io/en/latest/preprocessing.html#Keywords-in-context-(KWIC)-and-general-filtering-methods). The only difference is that this function produced a table with the node word in a center column with context columns to the left and right. The **tmtoolkit** functions produce tables with a single column that includes the node word.

For display purposes the `kwic_center_node` function trims the context columns to 75 characters maximum.

The function requires a **corpus** of the type generated by the `Corpus.from_dictionary` function. A node word needs to be set and there is the option to ignore the case of the node word.

In [43]:
kcn = kwic_center_node(corp, 'data', ignore_case=True)

In [44]:
kcn.head(10).style.set_properties(subset=["Post-Node"], **{'text-align': 'left'}).set_properties(subset=["Node"], **{'text-align': 'center'})

There is also an option allowing for glob-style searching by setting the `glob` argument to 'True':

In [45]:
kwc = kwic_center_node(corp, 'house*', ignore_case=True, glob=True)

In [46]:
kwc.head(10).style.set_properties(subset=["Post-Node"], **{'text-align': 'left'}).set_properties(subset=["Node"], **{'text-align': 'center'})

## Keyword tables

[Keywords](https://eprints.lancs.ac.uk/id/eprint/140803/1/Rayson_2019_CorpusAnalysisofKeyWords_Submitted.pdf) are common method for profiling corpora by statstically comparing token frequencies in one corpus (a target corpus) to those in another (a reference corpus).

To generate a keyword list, we first need to process our reference corpus, in this case a small corpus of news articles.

In [47]:
%%time
corp_ref = Corpus.from_folder('data/ref_corpus', spacy_instance=nlp, raw_preproc=pre_process, spacy_token_attrs=['tag', 'ent_iob', 'ent_type', 'is_punct'])

CPU times: user 2.2 s, sys: 238 ms, total: 2.44 s
Wall time: 2.48 s

We will also store various counts of tokens:

In [48]:
ref_total = corpus_num_tokens(corp_ref)
ref_types = vocabulary_size(corp_ref)
ref_punct = []
for i in range(0,len(corp_ref)):
    ref_punct.append(sum(corp_ref[i]['is_punct']))
ref_punct = sum(ref_punct)
ref_nonpunct = ref_total - ref_punct

In [49]:
print('Aphanumeric tokens (Reference corpus):', ref_nonpunct, '\nPunctuation tokens (Reference corpus):', ref_punct, '\nTotal tokens (Reference corpus):', ref_total, '\nTypes (Reference corpus):', ref_types)

Aphanumeric tokens (Reference corpus): 31950
Punctuation tokens (Reference corpus): 4742
Total tokens (Reference corpus): 36692
Types (Reference corpus): 6364

As before, we will use the `convert_corpus` function to prepare our data for further analysis:

In [50]:
tp_ref = convert_corpus(corp_ref)

Finally, we will use `frequency_table` to generate 2 tables, both normalized by total counts of non-punctuation tokens:

In [51]:
wc_target = frequency_table(tp, non_punct)
wc_ref = frequency_table(tp_ref, ref_nonpunct)

To generate a table of key words, we will use `keyness_table`, which takes both our target and reference frequency tables. An arguement can also be set for using the Yates correction by setting the `correct` argument to 'True'. Here will leave the default, which is for no correction.

In [52]:
kw = keyness_table(wc_target, wc_ref)

The table returns the frequency data for both corpora, with a column for [log-likehood](https://ucrel.lancs.ac.uk/llwizard.html) (the test of significance), as well as [Log Ratio](http://cass.lancs.ac.uk/log-ratio-an-informal-introduction/) (an effect size measure), and the *p*-value.

In [54]:
kw.sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)

The table can be sorted according to various criteria, like absolute frequencies and *p*-value thresholds:

In [55]:
kw.query('AF > 5 and `AF Ref` > 5 and PV < 0.01').sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)

Tables can similarly be filtered for part-of-speech tag:

In [56]:
kw.query('AF > 5 and `AF Ref` > 5 and PV < 0.01 and Tag.str.startswith("V")').sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)

Keyness tables can also be generated for counts of either part-of-speech or DocuScope tags. First, we prepare the frequency tables.

In [58]:
tag_ref = tags_table(tp_ref, ref_nonpunct, count_by='pos')
tag_tar = tags_table(tp, non_punct, count_by='pos')
ds_ref = tags_table(tp_ref, ref_total, count_by='ds')
ds_tar = tags_table(tp, corpus_total, count_by='ds')

We will set the `tags_only` argument to 'True' and we will also emply the Yates correction, setting `correct` to 'True', as well:

In [60]:
kt = keyness_table(tag_tar, tag_ref, tags_only=True, correct=True)

In [61]:
kt.sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)

We can do the same for the DocuScope frequency tables:

In [62]:
kds = keyness_table(ds_tar, ds_ref, tags_only=True)

In [63]:
kds.sort_values('LR', ascending=False).head(10).style.hide(axis='index').format(precision=2)